$bg-color: black;
$text-color: rgb(50, 252, 50);
$text-color-em: rgb(171, 250, 171);

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3em;
}

img {
  display: block;
  width: 60%;
  margin: 0 auto;
  transition: all 0.3s ease;

  &.flip {
    transform: rotate(180deg);
  }

  &:hover {
    width: 70%;
  }
}

a {
  display: block;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;

  &:visited {
    text-decoration: none;
    color: $text-color;
  }

  &:hover,
  &:active {
    text-decoration: underline;
    color: $text-color-em;
  }

  &:focus {
    text-decoration: none;
    color: $text-color;
  }
}
